* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	/* overflow: hidden; */
}
:root {
	--offset: 1rem;
	--bg-color: #080808;
	--second-bg-color: #131313;
	--text-color: #fff;
	--main-color: rgb(255, 215, 0);
	--sec-main-color: rgb(232, 138, 255);
	--third-bg-color: #0f0a1a;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--text-color);
	border-radius: 1rem;
}

::-webkit-scrollbar-track {
	background-color: var(--third-bg-color);
}

body {
	/* width: 100%; */
	text-align: center;
	font-size:24px ;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: var(--third-bg-color);
	color: var(--text-color);
	overflow-x: hidden;
}
h1 {
	text-align: center;
	font-size: 4rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 20px;
}


h3, h4{
	padding: 6px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
	font-size: 48px;
}

input{
	height: 4px;
	outline: none;
	accent-color: rgb(56, 255, 212);
	margin-top: 42px;
	margin-bottom: 15px;
}
button{
	margin-top: -12px;
}

.container {
	padding: 20px 0;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.selectors{
	margin: auto;
	width: 500px;
	display: flex;
	justify-content: space-between;
}
select{
	border-radius: 5px;
	padding: 4px;
	width: 200px;
	margin-top: 12px;
	margin-bottom: -20px;
}

label{
	margin-top: 15px;
	font-size: 15px;
}

.languageSelect{
	margin-left: -12px;
}

textarea {
	text-align: center;
	margin: auto;
	background: transparent;
	color: var(--text-color);
	width: 580px;
	height: 100px;
	padding: 10px;
	font-size: 18px;
	border: 3px solid var(--text-color);
	border-radius: 12px;
}

.btn {
	display: inline;
	margin: 18px auto;
	padding: 15px;
}

button {
	width: 180px;
	font-size: 3rem;
	background-color: transparent;
	outline: 1px solid var(--text-color);
	box-shadow: 0 0 5px var(--text-color);
	color: #fff;
	border: none;
	margin: 0 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s ease;
	opacity: 0.7;
}

button:hover {
	outline: 2px solid var(--text-color);
	padding: 4px;
	opacity: 1;
}

.spofity-row {
	font-size: 24px;
	color: #000000;
	margin-bottom: 10px;
	border: 1px solid #000000;
}


@media (max-width: 767px) {
	body{
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}
	h1{
		font-size: 78px;
		/* letter-spacing: 3px; */
	}
	h4{
		width: 300px;
		font-size: 1.3rem;
		font-style: italic;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		margin: auto;
		margin-top: 11px;
	}

	span{
		font-size: 52px;
	}
	textarea {
		max-width: 280px;
		margin-top: -12px;
		margin-bottom: 11px;
	}

	.selectors{
		display: block;
		width: 300px;
		margin-bottom: 15px;
	}
	select{
		padding: 1px;
		max-width: 100px;
	}
	.voiceSelect{
		margin-left: 12px;
	}
	button {
		border-radius: 12px;
		max-width: 100px;
		height: 42px;
		background: #e4dcdc80;
		font-size: 32px;
		margin-top: 12px;
	}

	#stop{
		margin-left:22px ;
	}

	label{
		font-size: 12px;
		font-weight: 600;
	}

	input{
		margin: auto;
		max-width: 72px;
		height: 3px;
	}
	.enter-btn{
		max-width: 135px;
		height: 52px;
		font-size: 36px;
		margin-top:80px ;
	}
}

@media (max-height:740px) {
	.enter-btn{
		margin-bottom:20px ;
	}
}
